<div class="container">
    <div class="row">
      <div class="col-10">
        <h1>Customers invoices</h1>
      </div>
    </div>

    <!-- add a form here -->
          <div class="row">
            <div class="col">
                <form action="">
                  ID:<br>
                  <input type="text" name="ID" id="id-submit"><br>
                  reservation id:<br>
                  <input type="text" name="reservation id" id="reservation-id-submit"><br>
                  total:<br>
                  <input type="text" name="total" id="total-submit"><br>
                  surcharges:<br>
                  <input type="text" name="surcharges" id="surcharges-submit"><br>
                  Invoice Date Time:<br>
                  <input type="text" name="Invoice Date Time" id="invoice-date-time-submit"><br>
                  Paid:<br>
                  <input type="text" name="Paid" id="paid-submit"><br>
                  <button id="submit-btn" type="submit">submit</button>
                </form>  
            </div>
          </div>
 
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Reservation ID</th>
              <th>Total</th>
              <th>Surcharges</th>
              <th>Invoice Date Time</th>
              <th>Paid</th>
            </tr>
          </thead>
          <tbody id="rows">
          {{#each objJson}}
            <tr>  
              <th scope="row"><a href="/invoices/{{this.id}}">{{ this.id }}</a></th>
              <td>{{ this.reservationId}}</td>
              <td>{{ this.total }}</td>
              <td>{{ this.surcharges }}</td>
              <td>{{ this.invoiceDateTime }}</td>
              <td>{{ this.paid }}</td>
              <!-- add an edit button here-->
              <!-- add a delete button here -->
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
